@model ClassLibrary.Patient

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Patient</h4>
<hr />



<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Names" class="control-label"></label>
                <input asp-for="Names" class="form-control" />
                <span asp-validation-for="Names" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastNames" class="control-label"></label>
                <input asp-for="LastNames" class="form-control" />
                <span asp-validation-for="LastNames" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sex" class="control-label"></label><br />
                <select asp-for="Sex" class="bg-dark text-white">
                    <option value="Male" selected>Male</option>
                    <option value="Female">Female</option>                  
                </select>

            </div>
                <div class="form-group">
                    <label asp-for="Age" class="control-label"></label>
                    <input asp-for="Age" class="form-control" />
                    <span asp-validation-for="Age" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Specialization" class="control-label"></label><br />    
                    <select asp-for="Specialization" class="bg-dark text-white">
                        <option value="Internal traumatology" selected>Internal traumatology</option>
                        <option value="Exposed traumatology">Exposed traumatology</option>
                        <option value="Gynecology">Gynecology</option>
                        <option value="Cardiology">Cardiology</option>
                        <option value="Pneumology">Pneumology</option>
                        
                    </select>
                </div>
                <div class="form-group">
                    
                    <label asp-for="EntryMethod" class="control-label"></label><br />
                    <select asp-for="EntryMethod" class="bg-dark text-white">
                        <option value="Ambulance" selected>Ambulance</option>
                        <option value="Assisted">Assisted</option>
                        

                    </select>
                </div>
                <div class="form-group">
                    <label asp-for="EntryDate" class="control-label"></label>
                    <input type="date" asp-for="EntryDate" class="form-control" />
                    <span asp-validation-for="EntryDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
